// article card
.article {
  @include maxWidthSm;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: color(white);
  box-shadow: 0.5rem 0.5rem 2rem color(tertiary);
  overflow: hidden;

  @include responsive(md) {
    grid-template-columns: 1fr;

    &-img {
      order: -1;
    }
  }

  &-img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    padding: 2rem;

    @include responsive(sm) {
      padding: 1.5rem;
    }

    &-title {
      @include headingStyles;
      font-size: size(lg);
      color: color(primary);
    }

    &-desc {
      @include textStyles;
      font-size: size(xs);
      color: color(secondary);
    }

    &-author {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include responsive(sm) {
        flex-direction: column;
      }

      &-left {
        display: flex;
        align-items: center;

        img {
          border-radius: 50%;
          width: 5rem;
        }

        .article-info-name-date {
          h6 {
            @include headingStyles;
            font-size: size(xs);
            color: color(primary);
          }

          p {
            @include textStyles;
            font-size: size(xxs);
            color: color(secondary);
          }
        }
      }

      &-right {
        .share-btn {
          position: relative;
          padding-right: 5rem;

          @include responsive(sm) {
            display: none;
          }
        }

        img {
          width: 3.5rem;

          @include responsive(sm) {
            width: 2.5rem;
            // padding-top: 2rem;
          }
        }
      }
    }
  }
}

// pop up
.popup {
  position: absolute;
  display: inline-block;
  margin-right: 2rem;

  @include responsive(sm) {
    display: none;
  }

  .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: color(secondary);
    color: #fff;
    border-radius: 6px;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    right: -10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    small {
      @include headingStyles;
      font-size: size(xxs);
    }

    img {
      width: 2rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: color(secondary) transparent transparent transparent;
    }
  }

  &.show .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

.popuptext-mobile {
  display: none;

  @include responsive(sm) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 2rem;

    .popuptext-link {
      display: grid;
      place-items: center;
      padding: 1rem;
      border-radius: 50%;
      background-color: color(secondary);
    }
  }
}

// popup animation
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
