// article
.article-container {
  @include flexCenter;
  @include sectionSpacing;
  overflow-x: hidden;
}

// footer
.footer {
  @include flexCenter;
  text-align: center;
  flex-wrap: wrap;

  h3 {
    @include textStyles;
    font-size: size(xxs);
  }

  a {
    @include headingStyles;
    color: color(secondary);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    width: 5rem;
  }
}
